.cardBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;
    cursor: pointer;
}

.bigCardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8px;
    width: 100%;
}

.footer {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
}

.bodyHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
}

.bodyCenter {
    display: flex;
    flex-direction: row;

}

.sprite {
    width: 100px;
    height: 100px;
}

.bigSprite {
    width: 150px;
    height: 150px;
}

.spriteList {
    width: 80px;
    height: 80px;
}

.spriteListBody {
    flex-direction: row;
}